
Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 14
VisualStudioVersion = 14.0.24720.0
MinimumVisualStudioVersion = 10.0.40219.1
Project("{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}") = "{{ProjectName}}", "Source\{{ProjectName}}.vcxproj", "{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}"
EndProject
Global
	GlobalSection(SolutionConfigurationPlatforms) = preSolution
		Debug Editor|Win64 = Debug Editor|Win64
		Debug Editor|Win32 = Debug Editor|Win32
		Debug Game|Win64 = Debug Game|Win64
		Debug Game|Win32 = Debug Game|Win32
		Release Editor|Win64 = Release Editor|Win64
		Release Editor|Win32 = Release Editor|Win32
		Release Game|Win64 = Release Game|Win64
		Release Game|Win32 = Release Game|Win32
	EndGlobalSection
	GlobalSection(ProjectConfigurationPlatforms) = postSolution
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Editor|Win64.ActiveCfg = Debug Editor|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Editor|Win64.Build.0 = Debug Editor|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Editor|Win32.ActiveCfg = Debug Editor|Win32
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Editor|Win32.Build.0 = Debug Editor|Win32
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Game|Win64.ActiveCfg = Debug Game|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Game|Win64.Build.0 = Debug Game|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Game|Win32.ActiveCfg = Debug Game|Win32
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Debug Game|Win32.Build.0 = Debug Game|Win32
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Editor|Win64.ActiveCfg = Release Editor|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Editor|Win64.Build.0 = Release Editor|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Editor|Win32.ActiveCfg = Release Editor|Win32
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Editor|Win32.Build.0 = Release Editor|Win32
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Game|Win64.ActiveCfg = Release Game|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Game|Win64.Build.0 = Release Game|x64
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Game|Win32.ActiveCfg = Release Game|Win32
		{BA752EA1-9D73-45FA-BF3E-575D7B7FD07D}.Release Game|Win32.Build.0 = Release Game|Win32
	EndGlobalSection
	GlobalSection(SolutionProperties) = preSolution
		HideSolutionNode = FALSE
	EndGlobalSection
EndGlobal
